.App {
  display: flex;
  padding: 10px;
}

h2, h3 {
  margin-left: 10px;
}

#create {
  min-width: 240px;
  width: 28%;
}

#edit {
  width: 69%;
}
    #editor-panel {
      min-width: 300px;
      width: 57%;
      height: 583px;
      margin-left: 10px;
      margin-right: 10px;
    }
    #card-list {
      min-width: 236px;
      width: 43%;
    }

.cont {
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: whitesmoke;
}

.btn-block {
  display: flex;
  justify-content: flex-end;
}

.btn-duo {
  width: 150px;
  display: flex;
  justify-content: space-between;
  
}
  .btn {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

.btn-duo-sm {
  width: 55px;
}
  .btn-sm {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
  }
  .btn-green {
    background-color: rgb(41, 173, 41);
    
  }
  .btn-blue {
    background-color: rgb(0, 140, 255);
    
  }
  .btn-red {
    background-color: rgb(200, 22, 22);
    
  }
  .btn-gray {
    background-color: rgb(125, 125, 125);
    
  }

.sm-input {
  width: 35px;
}

#card-n-ctrls {
  display: flex;
  justify-content: space-around;
}
  #card-frame {
    width: 223px;
    height: 310px;
    
    border-radius: 12px;
    background-color: rgb(236, 246, 255);
  }

.flex-row {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-betw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sphere {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
}

.white {
  background-color: rgb(255, 246, 209);
}
.blue {
  background-color: rgb(73, 179, 254);
}
.black {
  background-color: rgb(94, 77, 112);
}
.red {
  background-color: rgb(229, 88, 88);
}
.green {
  background-color: rgb(93, 173, 93);
}
.colorless {
  background-color: rgb(171, 162, 147);
}

.cbl-box {
  width: 265px;
  height: 18px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#test-area {
  width: 100%;
  height: 308px;
  display: flex;
  justify-content: space-between;
}