.App {
  display: flex;
  padding: 10px;
}

h2, h3 {
  margin-left: 10px;
}

#create {
  min-width: 244px;
  width: 28%;
}

#edit {
  width: 69%;
}
    #editor-panel {
      min-width: 300px;
      width: 57%;
      margin-left: 10px;
      margin-right: 10px;
    }
    #card-list {
      min-width: 236px;
      width: 43%;
    }

.cont {
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: whitesmoke;
}

.btn-block {
  display: flex;
  justify-content: flex-end;
}

.btn-duo {
  width: 150px;
  display: flex;
  justify-content: space-between;
  
}
  .btn {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .btn-green {
    background-color: rgb(41, 173, 41);
    
  }
  .btn-blue {
    background-color: rgb(0, 140, 255);
    
  }
  .btn-red {
    background-color: rgb(200, 22, 22);
    
  }
  .btn-gray {
    background-color: rgb(125, 125, 125);
    
  }

.ro-input {
  width: 40px;
}

#card-n-ctrls {
  display: flex;
  justify-content: space-around;
}
  #card-frame {
    width: 223px;
    height: 310px;
    
    border-radius: 12px;
    background-color: rgb(236, 246, 255);
  }

.flex-row {
  display: flex;
}

.flex-start {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inl {
  display: inline;
}

.w-200 {
  width: 200px;
}